  <h2><%= @user.name %> 様</h2>
　<p>タスクを送付致します。</p>
　<ul>
　  <li>名称：<%= @task.name %> </li>
　  <li>詳細：<%= @task.detail %> </li>
　  <li>総学習時間：<%= @task.total %>時間 </li>
　  <li>進捗率：<%= @task.progress %>% </li>
　  <li>開始予定日：<%= @task.start_day %> </li>
　  <li>終了予定日：<%= @task.finish_day %> </li>
　</ul>

  <p>引き続き、無理のない範囲で学習を頑張ってください。</p>